.configure {
  // Vars

  // Support

  // Module
  & .box-card {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    .el-alert {
      line-height: 14px;
      margin-bottom: 5px;
    }
  }

  // Facets

  // States
}
