/* theme color */
$--color-primary: teal;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

/** 动态 **/
.el-alert {
  &.mb {
    margin-bottom: 10px;
  }
}

.el-pagination {
  float: right;

  &.top {
    margin-bottom: 15px;
  }

  &.bottom {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
