.DS_Store

.idea
.vscode
.vagrant
/.vagrant

.env
.phpunit.result.cache
.plus.yml
/_ide_helper.php

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

composer.lock
yarn.lock
jpush.log

/config/
/config/component.php
/config/component_routes.php
/config/providers.php

/nbproject
/node_modules

/public/hot
/public/storage
/public/assets/*

vendor
