.DS_Store

.idea
/.idea
.vscode
/.vscode
.vagrant
/.vagrant

.env
.phpunit.result.cache
.plus.yml
_ide_helper.php

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

composer.lock
yarn.lock
yarn-error.log
npm-debug.log
jpush.log

/config/
/config/component.php
/config/component_routes.php
/config/providers.php

/nbproject
/node_modules

/public/hot
/public/storage
/public/assets/*
/public/assets/fonts/vendor/*
/public/assets/fonts/*
/public/assets/js/*

/resources/views/vendor
/resources/views/errors/

/storage/*.key

/vendor