.el-alert__title {
  font-size: 14px;
  line-height: 20px;
}

.setting-child {
  & + & {
    margin-top: 20px;
  }
}

form.el-form {
  max-width: 500px;

  &.filterForm {
    max-width: 100vw;
  }
}

.el-form {
  .el-alert {
    margin-bottom: 10px;

    &__content {
      line-height: 20px;
    }
  }
}

.el-pagination {
  float: right;

  &.top {
    margin-bottom: 15px;
  }

  &.bottom {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.el-card{
  border: none;
  &__body{
    padding: 20px 5px;
  }
}

.iconfont{
  margin-right: 5px;
}