.el-alert__title {
  font-size: 16px;
  line-height: 20px;
}
form.el-form {
  width: 500px;
}

.el-pagination {
  float: right;
  &.top {
    margin-bottom: 15px;
  }
  &.bottom {
    margin-top: 15px;;
  }
}
