.el-alert__title {
  font-size: 14px;
  line-height: 20px;
}

.setting-child {
  & + & {
    margin-top: 20px;
  }
}

form.el-form {
  max-width: 500px;
}

.el-form {
  .el-alert {
    margin-bottom: 10px;

    &__content {
      line-height: 20px;
    }
  }
}

.el-pagination {
  float: right;

  &.top {
    margin-bottom: 15px;
  }

  &.bottom {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
